html{
  height: 100%;
  width: 100%;
  user-select: none;
  }
  .pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .filho-display {
    width: 550px;
  }
  
  #display {
    height: 100px;
    text-align: right;
    font-size: 32px;
    padding: 10px;
    background-color: gray;
    color: white;
    border-radius: 10px;
  }

  .filho-botoes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .filho-botoes button {
    width: 130px;
    height: 130px;
    margin: 5px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    outline: none;
  }
  
  .botao-operador {
    background-color: #ff8c00;
    color: #fff;
  }
  .botao-operador:hover{
    background-color: #ffae42;
    color: #fff;
  }
  #botao-limpa{
    background-color:rgb(231, 76, 60);
  }
  #botao-limpa:hover{
    background-color: rgb(241, 101, 84);
  }
  #botao-parentese{
    background-color: #ff8c00; 
  }
  #botao-parentese:hover{
    background-color: #ffae42;
  }
  #botao-igual{
    background-color: rgb(46, 204, 113);
    /*Não deixa o usuario selecionar o texto*/
  }
  #botao-igual:hover{
    background-color: rgb(34, 153, 84);
  }
  .botao-numero{
    background-color: #757575;
  }
  .botao-numero:hover{
    background-color: #bdbdbd;
  }
  #botao-apaga{
    background-color: rgb(241, 196, 15);
  }
  #botao-apaga:hover{
    background-color: rgb(255, 221, 102);
  }